/*! _my_normalize.scss | http://github.com/hail2u/normalize.scss */

/*
 * Use html5shiv instead
 */

// @import "html5/blocks.scss";
// @import "html5/inline-blocks.scss";
// @import "html5/audio.scss";
// @import "html5/hidden.scss";

@import "base/html.scss";
@import "base/fix-font.scss";
@import "base/body.scss";

/*
 * Addresses box sizing set to border-box in Firefox (include -webkit to future-proof)
 */

hr {
  height: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@import "links/fix-outline.scss";

@import "typography/headings.scss";
@import "typography/abbr.scss";
@import "typography/fix-bolder.scss";
@import "typography/blockquote.scss";
@import "typography/dfn.scss";
@import "typography/mark.scss";
@import "typography/fix-margin.scss";
@import "typography/fix-monospace.scss";
@import "typography/pre.scss";
@import "typography/q.scss";
@import "typography/small.scss";
@import "typography/sub-and-sup.scss";

@import "lists/fix-margin-and-padding.scss";

/*
 * Does it need?
 */

// @import "lists-inside-nav.scss";

@import "embed/img.scss";
@import "embed/svg.scss";

@import "figures/figure.scss";

@import "forms/form.scss";
@import "forms/fieldset.scss";
@import "forms/legend.scss";
@import "forms/fix-font.scss";
@import "forms/fix-line-height.scss";
@import "forms/buttons.scss";
@import "forms/disabled.scss";
@import "forms/checkbox-and-radio.scss";
@import "forms/search.scss";
@import "forms/placeholder.scss";
@import "forms/fix-focus-inner.scss";
@import "forms/textarea.scss";

@import "tables/fix-cell-spacing.scss";
